@font-face {
    font-family: "PixelM";
    src: url("PixelMplus12-Regular.ttf");
}

body{
    margin: 0;
    padding: 0;
    font-size: 12px;
    overflow: hidden;
}

#loading{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: black;
    color: #aaaaaa;
    font-size: 600%;
    z-index: 30;
    display: flex;
    justify-content: center;
    align-items: center;
}
#title{
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 70px;
    background-color: azure;
    color: black;
    overflow-x: hidden;
    z-index: 100;
}
#title p{
    margin: 0.25em;
}
#playBt{
    display: none;
}

.pixel{
    font-family: "PixelM", "san-serif";
}

#lyricsCanvas{
    position: absolute;
    z-index: -120;
    width: 5000px;
    height: 500px;
    background-color: rgb(187, 242, 187);
    padding: 10% 5%;
}
p.lyricsWords{
    display: inline;
    position: absolute;
    margin-left: auto;
    font-family: "PixelM", "san-serif";
    font-size: 96px;
    color: white;
    padding: 0.5em 4em;
    transform: translateX(70%);
    will-change: animation;
}
p.come{
    color: white;
    animation: linear 0.5s come;
    transform: translateX(50%);
    will-change: animation;
}
p.leave{
    color: white;
    animation: linear 0.5s leave;
    transform: translateX(30%);
}
@keyframes come {
    0%{
        transform: translateX(70%);
        opacity: 0;
    }
    100%{
        transform: translateX(50%);
        opacity: 1;
    }
}
@keyframes leave {
    0%{
        transform: translateX(50%);
        opacity: 1;
    }
    100%{
        transform: translateX(30%);
        opacity: 0;
    }
}